/* Typography */

@font-face {
    font-family: 'open_sauce_oneregular';
    src: url('fonts/open-sauce-sans/opensauceone-regular-webfont.eot');
    src: url('fonts/open-sauce-sans/opensauceone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open-sauce-sans/opensauceone-regular-webfont.woff2') format('woff2'),
         url('fonts/open-sauce-sans/opensauceone-regular-webfont.woff') format('woff'),
         url('fonts/open-sauce-sans/opensauceone-regular-webfont.ttf') format('truetype'),
         url('fonts/open-sauce-sans/opensauceone-regular-webfont.svg#open_sauce_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'open_sauce_onebold';
    src: url('fonts/open-sauce-sans/opensauceone-bold-webfont.eot');
    src: url('fonts/open-sauce-sans/opensauceone-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open-sauce-sans/opensauceone-bold-webfont.woff2') format('woff2'),
         url('fonts/open-sauce-sans/opensauceone-bold-webfont.woff') format('woff'),
         url('fonts/open-sauce-sans/opensauceone-bold-webfont.ttf') format('truetype'),
         url('fonts/open-sauce-sans/opensauceone-bold-webfont.svg#open_sauce_onebold') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'liftedsans';
    src: url('fonts/lifted/lifted-sans-webfont.eot');
    src: url('fonts/lifted/lifted-sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lifted/lifted-sans-webfont.woff2') format('woff2'),
         url('fonts/lifted/lifted-sans-webfont.woff') format('woff'),
         url('fonts/lifted/lifted-sans-webfont.ttf') format('truetype'),
         url('fonts/lifted/lifted-sans-webfont.svg#liftedsans') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'liftedserif';
    src: url('fonts/lifted/lifted-serif-webfont.eot');
    src: url('fonts/lifted/lifted-serif-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lifted/lifted-serif-webfont.woff2') format('woff2'),
         url('fonts/lifted/lifted-serif-webfont.woff') format('woff'),
         url('fonts/lifted/lifted-serif-webfont.ttf') format('truetype'),
         url('fonts/lifted/lifted-serif-webfont.svg#liftedserif') format('svg');
    font-weight: normal;
    font-style: normal;
  }