@font-face {
  font-family: 'Hershey-Noailles-Futura';
  src: url('fonts/hershey/Hershey-Noailles-Futura-Duplex-Regular.woff2') format('woff2'),
       url('fonts/hershey/Hershey-Noailles-Futura-Duplex-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hershey-Noailles-Futura-Bold';
  src: url('fonts/hershey/Hershey-Noailles-Futura-Duplex-Bold.woff2') format('woff2'),
       url('fonts/hershey/Hershey-Noailles-Futura-Duplex-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}