@import url('fonts.css');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Styling Variables */
:root {
  --accent-color: rgb(255, 75, 30);
  --main-heading: 'liftedsans', sans-serif;
  --body-typeface: 'open_sauce_oneregular', sans-serif;
  --main-heading-serif: 'liftedserif';
}

/* Global styles and mobile styles, styles for larger screesn are way down below */
body {
  font-family: var(--body-typeface);
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
  letter-spacing: .4px;
}


/* Making all images responsive */

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

/*
████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██ */
   

h1 {
  font-size: 1.75em;
  font-family: var(--main-heading);
  line-height: 1.3em;
}

.bio-highlight {font-family: var(--main-heading-serif); line-height: 1.3;}


h2 {
  font-size: 2em;
  font-family: var(--main-heading);
}

h3 {
  font-size: .9em;
  font-family: open_sauce_onebold;
  margin-bottom: .7em;
}

h4 {
  font-size: 0.8em;
  font-family: open_sauce_onebold;
}

p {
  font-size: .9em;
  font-family: var(--body-typeface);
  line-height: 1.5em;
  margin-bottom: 1.5em;
  letter-spacing: .4px;
}

/* 
                                                                          
,--.                                        ,--. ,--.          ,--.         
|  ,---.  ,--. ,--.  ,---.   ,---.  ,--.--. |  | `--' ,--,--,  |  |,-.      
|  .-.  |  \  '  /  | .-. | | .-. : |  .--' |  | ,--. |      \ |     /      
|  | |  |   \   '   | '-' ' \   --. |  |    |  | |  | |  ||  | |  \  \      
`--' `--' .-'  /    |  |-'   `----' `--'    `--' `--' `--''--' `--'`--'     
          `---'     `--'                                                                                                  
          ,--.             ,--.                 
 ,---.  ,-'  '-. ,--. ,--. |  |  ,---.   ,---.  
(  .-'  '-.  .-'  \  '  /  |  | | .-. : (  .-'  
.-'  `)   |  |     \   '   |  | \   --. .-'  `) 
`----'    `--'   .-'  /    `--'  `----' `----'  
                 `---'                                                                                                            
*/

a {
  text-decoration: none;
  color: black;
}

a.phrase {
  text-decoration: underline;
}

a.contact-link:hover {
  color: black;
}

/* Work Page Layout */

.portfolio {
  padding: 1rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width. Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

/* Define grid areas once */
.bite {
  grid-area: bite;
}

.boddi {
  grid-area: boddi;
}

.portrait {
  grid-area: portrait;
}

.capstone {
  grid-area: capstone;
}

.tavolo-lungo {
  grid-area: tavolo-lungo;
}

.nearby {
  grid-area: nearby;
}

.when-will-this-place {
  grid-area: when-will-this-place;
}

.world-kitchen {
  grid-area: world-kitchen;
}

.logo {
  grid-area: logo;
  width: 8em;
  align-self: center;
}

.about {
  grid-area: about;
}

.copyright {
  grid-area: copyright;
  align-self: center;
}

.phrase {
  grid-area: phrase;
  justify-self: end;
  align-self: center;
}

/* Defining main nav once */

.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh;
  padding: 0px 15px 0px 15px;
  column-gap: 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo about";
  position: sticky;
  top: 0;
  height: 5vh;

}


/* Hero Styles */

/*                                            
,---.                   ,--.                   
/  .-'  ,---.   ,---.  ,-'  '-.  ,---.  ,--.--. 
|  `-, | .-. | | .-. | '-.  .-' | .-. : |  .--' 
|  .-' ' '-' ' ' '-' '   |  |   \   --. |  |    
`--'    `---'   `---'    `--'    `----' `--' */
                                            

/* .hero-footer {
  color: white;
} */

/* .hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
} */

.nav-about {
  grid-area: about;
  justify-self: end;
  align-self: center;
}

.hero-headline {
  font-size: 5em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0px 15px 0px 15px;
  grid-auto-flow: row;
  grid-template-areas: "copyright phrase";
  height: 5vh;
}

.footer-about-page {
  color: white;
}

.project-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0px 15px 0px 15px;
  grid-auto-flow: row;
  grid-template-areas: "copyright phrase";
  height: 5vh;
  background: rgba(0,0,0,0.2);
}
/* Hero */

.hero {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  background-size: 600%;
}

/*                                            
         ,--.                       ,--.   
 ,--,--. |  |-.   ,---.  ,--.,--. ,-'  '-. 
' ,-.  | | .-. ' | .-. | |  ||  | '-.  .-' 
\ '-'  | | `-' | ' '-' ' '  ''  '   |  |   
 `--`--'  `---'   `---'   `----'    `--'   */



.about-page {
  background-color: var(--accent-color);
  max-height: 100%;
}

.about-container {
  min-height: 100%;
  background: var(--accent-color);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 0px 15px 0px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "bio"
    "contact"
    "experience"
    "profile-img";
}

.bio {
  grid-area: bio;
  margin-top: 5vh;
}

.contact {
  grid-area: contact;
  align-self: end;
}

.contact-link {
  color: white;
}

.experience {
  grid-area: experience;
  margin-top: 5vh;
}

.profile-img {
  grid-area: profile-img;
  margin-top: 5vh;
}

/*                                               
                          ,--.                  ,--.   
 ,---.  ,--.--.  ,---.    `--'  ,---.   ,---. ,-'  '-. 
| .-. | |  .--' | .-. |   ,--. | .-. : | .--' '-.  .-' 
| '-' ' |  |    ' '-' '   |  | \   --. \ `--.   |  |   
|  |-'  `--'     `---'  .-'  /  `----'  `---'   `--'   
`--'                    '---'                          
*/

.project-wrapper {
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  background: white;
  padding: 1em;
}

.project-aside {
  width: 100%;
  color: rgb(63, 115, 255);
  padding: 1em;
}

.project-navigation {
  display: flex;
  flex-direction: row;
}

.arrow {
  padding-right: 1em;
}

.project-details {
  width: 100%;
  padding: 1em;
}

#tooltip {
  position: absolute;
  background: var(--accent-color);
  color: rgb(255, 255, 255);
  font-size: .85em;
  padding: 1em;
  width: 16rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Error Page 404 */

.error-container {
  background: --accent-color;
}

/* Mobile Grid Layout */

.container {
  display: grid;
  grid-template-columns: 1.7fr 0.8fr 0.3fr 1.1fr 1.3fr 0.8fr 1.3fr 0.7fr 1fr;
  grid-template-rows: 60px repeat(14, minmax(100px, auto));
  padding-left: 15px;
  padding-right: 15px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . bite bite bite bite"
    "boddi boddi boddi . . bite bite bite bite"
    "boddi boddi boddi . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . portrait portrait"
    ". . . . . . . . ."
    ". capstone capstone capstone capstone . . . ."
    ". . . . . . . . ."
    "tavolo-lungo tavolo-lungo tavolo-lungo tavolo-lungo . . . . ."
    "tavolo-lungo tavolo-lungo tavolo-lungo tavolo-lungo . world-kitchen world-kitchen world-kitchen world-kitchen"
    ". . . . . world-kitchen world-kitchen world-kitchen world-kitchen"
    ". . . . . . . . ."
    ". . when-will-this-place when-will-this-place when-will-this-place when-will-this-place when-will-this-place when-will-this-place ."
    ". . . . . . . . ."
    "nearby nearby nearby nearby . . . . .";
}



/* Global and mobile styles for Project Page */

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}











/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 
                                              ▀▀                                               

/*
                                                                                               


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .about-page {
    overflow: hidden;
  }

  .about-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35vh 5vh 50vh;
    padding: 0px 15px 0px 15px;
    column-gap: 2vw;
    grid-auto-flow: row;
    grid-template-areas:
      "bio bio"
      "contact ."
      "profile-img experience";
  }

  .footer {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    position: fixed;
  }

}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  body {
    background: rgb(253, 170, 212);
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.3;
  }
  /* Tablet & Large Grid Layout */
  .container {
    display: grid;
    grid-template-columns: repeat(3, 5vw) minmax(0, 1fr) repeat(3, 5vw) 8vw minmax(0, 1fr) 8vw repeat(3, 5vw);
    grid-template-rows: repeat(10, 9vh);
    grid-auto-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . bite bite . . . . . . ."
      ". . . . bite bite . . . . . portrait portrait"
      ". boddi boddi . bite bite . . . . . portrait portrait"
      ". boddi boddi . . . . . . capstone . portrait portrait"
      ". boddi boddi . . . . . . capstone . . ."
      ". . . . . tavolo-lungo tavolo-lungo . . capstone . . ."
      ". . . . . tavolo-lungo tavolo-lungo . . . . . ."
      ". . . . . . . . . . world-kitchen world-kitchen ."
      "nearby nearby nearby . . . when-will-this-place when-will-this-place . . world-kitchen world-kitchen ."
      "nearby nearby nearby . . . . . . . . . .";
    max-height: 100%;
  }

  .about-page {
    overflow: hidden;
  }

  .about-container {
    grid-template-columns: 2fr .75fr 1fr;
    grid-template-rows: 80vh 10vh;
    padding: 0px 15px 0px 15px;
    column-gap: 2vw;
    grid-auto-flow: row;
    grid-template-areas:
      "bio experience profile-img"
      "contact . .";
  }

  .footer {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
  }


  /* Project Page Styles on Large Screens */

  .project-wrapper {
    flex-direction: row;  
  }
  .project-aside {
    width: 40vw;
    height: 40vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
  }
  
  .project-details {
    width: 60vw;
  }



}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background: rgb(255, 255, 255);
    height: 100%;

  }

  /* Extra Large Grid Layout */
  .container {
    display: grid;

    grid-template-columns: 5vw 5vw 5vw 1fr 5vw 5vw 1fr 5vw 5vw 5vw 5vw 5vw 5vw;
    grid-template-rows: repeat(10, 9vh);
    grid-auto-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . bite bite . . . . . . ."
      ". . . . bite bite . . . . . portrait portrait"
      ". boddi boddi . bite bite . . . . . portrait portrait"
      ". boddi boddi . . . . . . capstone . portrait portrait"
      ". boddi boddi . . . . . . capstone . . ."
      ". . . . . tavolo-lungo tavolo-lungo . . capstone . . ."
      ". . . . . tavolo-lungo tavolo-lungo . . . . . ."
      ". . . . . . . . . . world-kitchen world-kitchen ."
      "nearby nearby nearby . . . when-will-this-place when-will-this-place . . world-kitchen world-kitchen ."
      "nearby nearby nearby . . . . . . . . . .";
    max-height: 90vh;
    background: rgb(253, 170, 212);
  }

  .about-page {
    overflow: hidden;
  }

  .about-container {
    grid-template-columns: 45vw 15vw 1fr;
    grid-template-rows: 80vh 10vh;
    padding: 0px 15px 0px 15px;
    column-gap: 3.5vw;
    grid-auto-flow: row;
    grid-template-areas:
      "bio experience profile-img"
      "contact . .";
      
  }

  .footer {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
  }

  .logo,
  .about {
    position: sticky;
  }
}