@import url('fonts.css');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* height: 100%; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Styling Variables */
:root {
  --accent-color: rgb(255, 75, 30);
  --main-heading: 'liftedsans', sans-serif;
  --body-typeface: 'open_sauce_oneregular', sans-serif;
  --main-heading-serif: 'liftedserif';
}

/* Global styles and mobile styles, styles for larger screesn are way down below */
body {
  font-family: var(--body-typeface);
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
  letter-spacing: .4px;
}


/* Making all images responsive */

img {
  max-height: 100%;
  max-width: 100%;
}

/*
████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██ */
   

h1 {
  font-size: 1.75em;
  font-family: var(--main-heading);
  line-height: 1.3em;
  color: purple;
}

.bio-highlight {font-family: var(--main-heading-serif); line-height: 1.3;}
.bio-highlight-small {font-family: var(--main-heading-serif); line-height: 1.3; font-size: .5em;}

h2 {
  font-size: 1.75em;
  line-height: 1.3em;
  font-family: var(--main-heading);
}


h3 {
  font-size: .9em;
  font-family: open_sauce_onebold;
  margin-bottom: .7em;
}

h4 {
  font-size: 0.8em;
  font-family: open_sauce_onebold;
}

h5 {
  font-size: 1.75em;
  font-family: var(--body-typeface);
  line-height: 1.3em;
}

p {
  font-size: .7em;
  font-family: var(--body-typeface);
  line-height: 1.5em;
  margin-bottom: 1.5em;
  letter-spacing: .4px;
}


/* 
                                                                          
,--.                                        ,--. ,--.          ,--.         
|  ,---.  ,--. ,--.  ,---.   ,---.  ,--.--. |  | `--' ,--,--,  |  |,-.      
|  .-.  |  \  '  /  | .-. | | .-. : |  .--' |  | ,--. |      \ |     /      
|  | |  |   \   '   | '-' ' \   --. |  |    |  | |  | |  ||  | |  \  \      
`--' `--' .-'  /    |  |-'   `----' `--'    `--' `--' `--''--' `--'`--'     
          `---'     `--'                                                                                                  
          ,--.             ,--.                 
 ,---.  ,-'  '-. ,--. ,--. |  |  ,---.   ,---.  
(  .-'  '-.  .-'  \  '  /  |  | | .-. : (  .-'  
.-'  `)   |  |     \   '   |  | \   --. .-'  `) 
`----'    `--'   .-'  /    `--'  `----' `----'  
                 `---'                                                                                                            
*/

a {
  text-decoration: none;
  color: black;
}

a.phrase {
  text-decoration: underline;
}


a.contact-link:hover {
  color: black;
}

a.about-nav-elements:hover {
  color: black;
}



/* main nav rule styles */

hr.navblack {
  height: .1rem;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
  position: sticky;
  top: 4.5vh;
  border: 0;
  display: block;
  background: black;
}

hr.navwhite {
  height: .1rem;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
  position: sticky;
  top: 4.5vh;
  border: 0;
  display: block;
  background: white;
}

/* footer rule styles */

hr.footerblack {
  height: .1rem;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: .5rem;
  margin-bottom: 0;
  border: 0;
  display: block;
  background: black;
}

hr.footerwhite {
  height: .1rem;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  display: block;
  background: white;
}






/* Work Page Layout */

.portfolio {
  padding: 1rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width. Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

/* Define grid areas once */
.illustrations {
  grid-area: illustrations;
}

.boddi {
  grid-area: boddi;

}

.paintings {
  grid-area: paintings;
}

.capstone {
  grid-area: capstone;

}

.tavolo-lungo {
  grid-area: tavolo-lungo;

}

.nearby {
  grid-area: nearby;
}

.when-will-this-place {
  grid-area: when-will-this-place;
  align-self: flex-end;
}

.world-kitchen {
  grid-area: world-kitchen;
  align-self: flex-end;
}

.logo {
  grid-area: logo;
  width: 10em;
  align-self: center;
}

.about {
  grid-area: about;
}


.copyright {
  grid-area: copyright;
  align-self: center;
}

.phrase {
  grid-area: phrase;
  justify-self: end;
  align-self: center;
}


/* Defining main nav once */

.main-nav {
  display: grid;
  grid-template-columns: 1fr 15vw 15vw;
  grid-template-rows: 5vh;
  padding: 0px 15px 0px 15px;
  column-gap: 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo catalogue about";
  position: sticky;
  top: 0;
  height: 5vh;


}

/* .main-nav-border-box {
  border-bottom: .1rem solid;
  position: relative;
  width: 90vw;
} */


/* Hero Styles */

/*                                            
,---.                   ,--.                   
/  .-'  ,---.   ,---.  ,-'  '-.  ,---.  ,--.--. 
|  `-, | .-. | | .-. | '-.  .-' | .-. : |  .--' 
|  .-' ' '-' ' ' '-' '   |  |   \   --. |  |    
`--'    `---'   `---'    `--'    `----' `--' */
                                          

.nav-about {
  grid-area: about;
  justify-self: end;
  align-self: center;
}

.hero-headline {
  font-size: 5em;
}

.footer {
  display: grid;
  grid-template-columns: 30vw 1fr;
  grid-template-rows: 1fr;
  padding: 0px 15px 0px 15px;
  grid-auto-flow: row;
  grid-template-areas: "copyright phrase";
  height: 5vh;
}

.project-footer {
  display: grid;
  grid-template-columns: 30vw 1fr;
  grid-template-rows: 1fr;
  padding: 0px 15px 0px 15px;
  grid-auto-flow: row;
  grid-template-areas: "copyright phrase";
  height: 5vh;
}

.footer-project-page {
  color: white;

}

.footer-about-page {
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}


/* Hero */

.hero {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  background-size: 600%;
}

/*                                            
         ,--.                       ,--.   
 ,--,--. |  |-.   ,---.  ,--.,--. ,-'  '-. 
' ,-.  | | .-. ' | .-. | |  ||  | '-.  .-' 
\ '-'  | | `-' | ' '-' ' '  ''  '   |  |   
 `--`--'  `---'   `---'   `----'    `--'   */


.about-page {
  background-color: var(--accent-color);
  /* max-height: 150vh; */
}

.about-nav-elements {
  color: white;
}

.about-container {
  min-height: 100%;
  background: var(--accent-color);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content min-content;
  padding: 0px 15px 0px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "bio"
    "contact"
    "experience"
    "profile-img";
}

.bio {
  grid-area: bio;
  padding-bottom: 2rem;
  margin-top: 5vh;
}

.contact {
  grid-area: contact;
  align-self: end;
  padding-bottom: 1rem;
}

.contact-link {
  color: white;
}

.experience {
  grid-area: experience;
  margin-top: 5vh;
}

.profile-img {
  grid-area: profile-img;
  justify-self: end;
  padding-bottom: 1rem;
}


.error-container {
  display: flex;
  justify-content: center;
  height: 88vh;
}

/*                                               
                          ,--.                  ,--.   
 ,---.  ,--.--.  ,---.    `--'  ,---.   ,---. ,-'  '-. 
| .-. | |  .--' | .-. |   ,--. | .-. : | .--' '-.  .-' 
| '-' ' |  |    ' '-' '   |  | \   --. \ `--.   |  |   
|  |-'  `--'     `---'  .-'  /  `----'  `---'   `--'   
`--'                    '---'                          
*/

.project-wrapper {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  background: white;
  padding: 0em 1em 1em 1em;
}

.project-image-container {
  display: flex;
  flex-direction: column;
  padding: 0em 1em 1em 1em;
}

.project-aside {
  margin-top: 5vh;
  padding: 0em 2rem 1rem 0em;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: .75em;
  justify-content: space-between;
}

.arrow {
  width: 4.25rem;
  padding-right: 1em;
  padding-left: 1em;
}

.project-content {
  flex-direction: column;
}

.project-section-heading {
  margin-bottom: 1.2rem;
}

.project-description {
  margin-bottom: 1.8rem;
}

#tooltip {
  position: absolute;
  font-family: var(--main-heading);
  background: var(--accent-color);
  color: rgb(255, 255, 255);
  font-size: .9rem;
  line-height: 1.6em;
  padding: .8rem;
  max-width: 9rem;
  /* width: 12em; */
  /* width: minmax(max-content, 4rem);  */
  height: auto;
  display: flex;
  align-items: left;
}


/* Error Page 404 */

.error-container {
  background: --accent-color;
}

/*                                                                         
                ,--.    ,--.      ,---.                                 
 ,---.  ,--.--. `--'  ,-|  |     |  o ,-.                               
| .-. | |  .--' ,--. ' .-. |     .'     /_                              
' '-' ' |  |    |  | \ `-' |     |  o  .__)                             
.`-  /  `--'    `--'  `---'       `---'                                 
`---'                                                                   
                                                                        
                  ,--.            ,--.                                  
 ,---.  ,--,--. ,-'  '-.  ,--,--. |  |  ,---.   ,---.  ,--.,--.  ,---.  
| .--' ' ,-.  | '-.  .-' ' ,-.  | |  | | .-. | | .-. | |  ||  | | .-. : 
\ `--. \ '-'  |   |  |   \ '-'  | |  | ' '-' ' ' '-' ' '  ''  ' \   --. 
 `---'  `--`--'   `--'    `--`--' `--'  `---'  .`-  /   `----'   `----' 
                                               `---'                     */



.container {
  display: grid;
  grid-template-columns: 1.7fr 0.8fr 0.3fr 1.1fr 1.3fr 0.8fr 1.3fr 0.7fr 1fr;
  grid-template-rows: 2rem repeat(10, minmax(1rem, auto));
  padding-left: 15px;
  padding-right: 15px;
  gap: 1rem 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . illustrations illustrations illustrations illustrations"
    "boddi boddi boddi . . illustrations illustrations illustrations illustrations"
    "capstone capstone capstone capstone capstone . . . ."
    "capstone capstone capstone capstone capstone . . . ."
    "capstone capstone capstone capstone capstone . . . ."
    ". . . . . . paintings paintings paintings"
    "tavolo-lungo tavolo-lungo tavolo-lungo . . . paintings paintings paintings"
    "tavolo-lungo tavolo-lungo tavolo-lungo . . . . . ."
    ". . world-kitchen world-kitchen world-kitchen world-kitchen . . ."
    ". . world-kitchen world-kitchen world-kitchen world-kitchen . . ."
    ". . . . when-will-this-place when-will-this-place when-will-this-place when-will-this-place when-will-this-place"
    "nearby nearby nearby nearby . . . . .";
}

.container-gridlines {
  border-bottom: 1.5px solid black;
  border-right: 1.5px solid black;
  border-left: 1.5px solid black;
  border-top: 1.5px solid black;
}

/* Global and mobile styles for Project Page */

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}






/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 
                                              ▀▀                                               

/*
                                                                                               


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


  h1 {

    color: yellow;
  }
  /* .about-page {
    overflow: hidden;
  } */

  /* .about-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35vh 5vh 50vh;
    padding: 0px 15px 0px 15px;
    column-gap: 2vw;
    grid-auto-flow: row;
    grid-template-areas:
      "bio bio"
      "contact ."
      "profile-img experience";
  } */


  .project-footer {
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 1fr;
    padding: 0px 15px 0px 15px;
    grid-auto-flow: row;
    grid-template-areas: "copyright phrase";
    height: 5vh;
  }

}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  body {
    background: white;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.3;
    letter-spacing: -.5px;
    color: green;
  }
  /* Tablet & Large Grid Layout */
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* grid-auto-columns: 1fr; */
    padding-left: 15px;
    padding-right: 15px;
    gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-areas:
      ". . .  illustrations illustrations . . . . . . . ."
      "boddi boddi . illustrations illustrations . . . . . . paintings paintings"
      "boddi boddi . . . . . . capstone capstone . paintings paintings"
      ". . . . . . tavolo-lungo tavolo-lungo capstone capstone . paintings paintings"
      ". . . . . . tavolo-lungo tavolo-lungo . . . . ."
      ". . . . . . . . . . . . ."
      "nearby nearby . . . . . . . . world-kitchen world-kitchen ."
      "nearby nearby . . when-will-this-place when-will-this-place . . . . world-kitchen world-kitchen ."
      "nearby nearby . . when-will-this-place when-will-this-place . . . . world-kitchen world-kitchen ."
      ". . . . when-will-this-place when-will-this-place . . . . world-kitchen world-kitchen .";
    max-height: 89vh;
    overflow: hidden;
    overscroll-behavior: none;
  }

  .about-page {
    overflow: hidden;
  }

  .about-container {
    grid-template-columns: minmax(550px, 800px) max-content minmax(200px, max-content);
    grid-template-rows: 70vh 20vh;
    padding: 0em 1em 0em 1em;
    column-gap: 5rem;
    grid-auto-flow: row;
    grid-template-areas:
      "bio experience profile-img"
      "contact . .";
  }

  .profile-img {
    margin-top: 5vh;
  }


  /* Project Page Styles on Large Screens */

  

  .project-container-noscroll {
    height: 84vh;
  }

  .project-content-noscroll {
    width: 80%;
    justify-content: flex-end;
  }

  .project-aside {
    width: 40vw;
    height: 40vh;
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
    padding: 0em 8rem 1rem 0em;
  }
  
  .project-details {
    width: 60vw;
  }

  .project-content {
    margin-top: 5vh;
    width: 50%;
  }


}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background: rgb(255, 255, 255);
    /* height: 100%; */

  }

  /* Extra Large Grid Layout */
  
  .about-page {
    overflow: hidden;
  }


  .logo,
  .about {
    position: sticky;
  }
}