/* Typography imported from Google Fonts */
@import url("'https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;1,300;1,400&display=swap'");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Styling Variables */
:root {
  --accent-color: rgb(255, 85, 30);
  --body-typeface: 'Libre Fanklin', sans-serif;
  --main-heading: 'Libre Franklin', sans-serif;
}

/* Global styles and mobile styles, styles for larger screesn are way down below */
body {
  font-family: var(--body-typeface);
  font-weight: 300;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
}



/* Making all images responsive */

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}


/* Typography */

h1 {
  font-size: 7em;
  font-family: var(--main-heading);
  font-weight: 400;
  margin-bottom: .2em;
}


/* Hyperlink Styles */

a {
  text-decoration: none;
  color: black;
}

/* a:hover {
 
} */

p {
  margin-bottom: 1em;
}



/* Work Page Layout */


/* .work-wrapper {
  flex: 1;
   */
/* Take up the remaining space available */
/* } */

.portfolio {
  padding: 1rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width. Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

/* Define grid areas once */
.bite {
  grid-area: bite;
}

.boddi {
  grid-area: boddi;
}

.portrait {
  grid-area: portrait;
}

.capstone {
  grid-area: capstone;
}

.tavolo-lungo {
  grid-area: tavolo-lungo;
}

.nearby {
  grid-area: nearby;
}

.when-will-this-place {
  grid-area: when-will-this-place;
}

.world-kitchen {
  grid-area: world-kitchen;
}

.logo {
  grid-area: logo;
  width: 9em;
}

.about {
  grid-area: about;
}

/* Defining main nav once */

.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .3fr;
  padding: 0px 15px 0px 15px;
  column-gap: 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "logo about";
  position: sticky;
  top: 0;

}


/* Hero Styles */

.hero-footer {
  color: white;
}

.main-footer {
  max-height: 100%;
  background: var(--accent-color);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 33vh 33vh 33vh;
  padding: 0px 15px 0px 15px;
  grid-auto-flow: row;
  grid-template-areas: 
    "contact"
    "bio"
    "profile-img";
}

.contact {
  grid-area: contact;
}

.bio {
  grid-area: bio;
}

.profile-img {
  grid-area: profile-img;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

.about-nav {
  grid-area: about;
  justify-self: end;
  align-self: center;
}

.hero-headline {
  font-size: 5em;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

/* Hero */

.hero {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  background-size: 600%;
}

/* About Page */

.about-container {
  background-color: var(--accent-color);
  min-height: 100vh;
}


/* Project Page */

.project-wrapper {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 1em;
}

.project-aside {
  width: 40vw;
  height: 40vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  color: rgb(63, 115, 255);
  background: rgb(255, 255, 255);
  padding: 1em;
}

.project-navigation {
  display: flex;
  flex-direction: row;
}

.arrow {
  padding-right: 1em;
}

.project-details {
  width: 60vw;
  min-height: 800vh;
  background: rgb(255, 255, 255);
  padding: 1em;
}

#tooltip {
  position: absolute;
  background: var(--accent-color);
  color: rgb(255, 255, 255);
  font-size: .85em;
  padding: 1em;
  width: 8vw;
  height: 4vh;
}


/* Mobile Grid Layout */

.container {
  display: grid;
  grid-template-columns: 1.7fr 0.8fr 0.3fr 1.1fr 1.3fr 0.8fr 1.3fr 0.7fr 1fr;
  grid-template-rows: 60px repeat(14, minmax(100px, auto));
  padding-left: 15px;
  padding-right: 15px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . bite bite bite bite"
    "boddi boddi boddi . . bite bite bite bite"
    "boddi boddi boddi . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . portrait portrait"
    ". . . . . . . . ."
    ". capstone capstone capstone capstone . . . ."
    ". . . . . . . . ."
    "tavolo-lungo tavolo-lungo tavolo-lungo tavolo-lungo . . . . ."
    "tavolo-lungo tavolo-lungo tavolo-lungo tavolo-lungo . world-kitchen world-kitchen world-kitchen world-kitchen"
    ". . . . . world-kitchen world-kitchen world-kitchen world-kitchen"
    ". . . . . . . . ."
    ". . when-will-this-place when-will-this-place when-will-this-place when-will-this-place when-will-this-place when-will-this-place ."
    ". . . . . . . . ."
    "nearby nearby nearby nearby . . . . .";
}


/* Error Page 404 */

.error-container {
  background: --accent-color;
}

/* Global and mobile styles for Project Page */

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 650px) {

  body {
    background: rgb(253, 170, 212);
  }

  /* Tablet & Large Grid Layout */
  .container {
    display: grid;
    grid-template-columns: repeat(3, 5vw) minmax(0, 1fr) repeat(3, 5vw) 8vw minmax(0, 1fr) 8vw repeat(3, 5vw);
    grid-template-rows: 60px repeat(8, 10vh);
    grid-auto-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . bite bite . . . . . . ."
      ". . . . bite bite . . . . . portrait portrait"
      ". boddi boddi . bite bite . . . . . portrait portrait"
      ". boddi boddi . . . . . . capstone . portrait portrait"
      ". boddi boddi . . . . . . capstone . . ."
      ". . . . . tavolo-lungo tavolo-lungo . . capstone . . ."
      ". . . . . tavolo-lungo tavolo-lungo . . . . . ."
      ". . . . . . . . . . world-kitchen world-kitchen ."
      "nearby nearby nearby . . . when-will-this-place when-will-this-place . . world-kitchen world-kitchen ."
      "nearby nearby nearby . . . . . . . . . .";
    max-height: 100%;
  }

  .main-footer {
    grid-template-columns: 1fr 20vw 20vw 30vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0px 15px 0px 15px;
    column-gap: .25vw;
    grid-auto-flow: row;
    grid-template-areas: 
      ". contact bio profile-img"
      ". . . .";
  }
  
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background: rgb(255, 255, 255);
  }

  /* Extra Large Grid Layout */
  .container {
    display: grid;
    grid-template-columns: repeat(3, 5vw) minmax(0, 1fr) repeat(3, 5vw) 8vw minmax(0, 1fr) 8vw repeat(3, 5vw);
    grid-template-rows: 60px repeat(9, 10vh);
    /* grid-template-columns:  1.2fr 0.5fr 1.3fr 0.6fr 1.5fr 0.6fr 1.5fr 2.4fr 1.8fr 2.1fr 1.3fr 0.5fr 0.8fr; */
    /* grid-template-rows: 1.3fr 0.6fr 1.4fr 1.1fr 0.4fr 0.9fr 0.6fr 1.8fr 0.4fr 1.3fr 1.7fr 1fr; */
    grid-auto-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . bite bite . . . . . . ."
      ". . . . bite bite . . . . . portrait portrait"
      ". boddi boddi . bite bite . . . . . portrait portrait"
      ". boddi boddi . . . . . . capstone . portrait portrait"
      ". boddi boddi . . . . . . capstone . . ."
      ". . . . . tavolo-lungo tavolo-lungo . . capstone . . ."
      ". . . . . tavolo-lungo tavolo-lungo . . . . . ."
      ". . . . . . . . . . world-kitchen world-kitchen ."
      "nearby nearby nearby . . . when-will-this-place when-will-this-place . . world-kitchen world-kitchen ."
      "nearby nearby nearby . . . . . . . . . .";
    max-height: 100%;
  }

  .main-footer {
    grid-template-columns: 1fr 20vw 20vw 30vw;
    grid-template-rows: 1fr 1fr;
    padding: 0px 15px 0px 15px;
    column-gap: .25vw;
    grid-auto-flow: row;
    grid-template-areas: 
      ". contact bio profile-img"
      ". . . .";
  }

  .logo,
  .about {
    position: sticky;
  }
}