@font-face {
    font-family: 'Hershey-Noailles-Futura';
    src: url('Hershey-Noailles-Futura-Duplex-Regular.eot');
    src: url('Hershey-Noailles-Futura-Duplex-Regular.eot?#iefix') format('embedded-opentype'),
        url('Hershey-Noailles-Futura-Duplex-Regular.woff2') format('woff2'),
        url('Hershey-Noailles-Futura-Duplex-Regular.woff') format('woff'),
        url('Hershey-Noailles-Futura-Duplex-Regular.ttf') format('truetype'),
        url('Hershey-Noailles-Futura-Duplex-Regular.svg#Hershey-Noailles-Futura-Duplex-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

